### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Xcode ###
# Xcode

## Build generated
./build/
DerivedData/
build_logs/
artifacts/
build-tools-env/
build.xcarchive/
buildtimes.json

## Various settings
xcuserdata/
*.pbxuser

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace
Breakpoints_v2.xcbkptlist

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
Carthage/Checkouts
 Carthage/Build

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.list
